extends ../home/layout.pug

append body
	.box
		.cell-6.cell-m9.cell-s12.card
			.box
				.cell-12 标题：
				input#title.input.cell-12(placeholder='标题' type='text')
				.cell-12 内容：
				textarea#markdown.textarea.cell-12(placeholder='内容' rows='10')
				#submit.button.cell-4.cell-m8.cell-s12 发表

append js
	script(src='/admin/js/createArticle.js')