extends ../home/layout.pug

append body
	.box
		.cell-4.cell-m6.cell-s12.card
			.box
				.cell-12.height
				button.button.cell-12(onclick="jump('/admin/editArticle/index/1')") 修改日志
				button.button.cell-12(onclick="jump('/admin/createArticle')") 创建日志
				.cell-12.height