extends ../home/layout.pug

append body
	.box
		.cell-4.cell-m6.cell-s12.card
			.box
				.cell-12.height
				#editArticle.button.cell-12 修改日志
				#createArticle.button.cell-12 创建日志
				.cell-12.height

append js
	script(src='/admin/js/home.js')