doctype html

html(lang='zh-CN')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width initial-scale=1')
		block title
			title 鶗鴂夜鸣
		link(rel='icon' href='/admin/img/avatar.png')
		block css
			link(rel='stylesheet' href='/admin/css/layout.css')
			link(rel='stylesheet' href='/admin/css/style.css')

	body
		.header.pointer.box.space-between
			#logo.cell-2.cell-m3.cell-s6
				.box
					img.img.cell-2(src = '/admin/img/avatar.png' alt = 'avatar')
					.cell-1
					.logo.cell-9 鶗鴂夜鸣
			.cell-7.cell-m4.cell-s0
			.cell-3.cell-m5.cell-s6
				.box
					.cell-8.cell-s5
						#admin.button.cell-3.cell-s6 管理

		block body

		block js
			script(src='/admin/js/a.js')
			script(src='/admin/js/layout.js')