extends layout.pug

append body
	.box
		.cell-4.cell-m6.cell-s12.card
			.box
				input#name.input.cell-12(placeholder='用户名' type='text')
				input#password.input.cell-12(placeholder='密码' type='password')
				#submit.button.cell-12 登录

append js
	script(src='/admin/js/login.js')