extends layout.pug

block title
	title #{title}

append css
	link(rel='stylesheet' href='/article/css/markdown.css')

append body
	.box
		.cell-4.cell-m6.cell-s12.card
			.box
				.title.cell-12 #{title}
				hr.hr.cell-12
				.markdown.word.cell-12 !{content}
				hr.hr.cell-12
				.cell-8
				.small.right.cell-4 #{moment}