doctype html

html(lang='zh-CN')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width initial-scale=1')
		block title
			title 鶗鴂夜鸣
		link(rel='icon' href='/article/img/avatar.png')
		block css
			link(rel='stylesheet' href='/article/css/layout.css')
			link(rel='stylesheet' href='/article/css/style.css')

	body
		.header.pointer.box.space-between
			#logo.cell-2.cell-m3.cell-s6
				.box
					img.img.cell-2(src = '/article/img/avatar.png' alt = 'avatar')
					.cell-1
					.logo.cell-9 鶗鴂夜鸣
			.cell-10.cell-m9.cell-s6

		block body

		block js
			script(src='/article/js/a.js')
			script(src='/article/js/layout.js')