doctype html

html(lang='zh-CN')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width initial-scale=1')
		title 鶗鴂夜鸣
		link(rel='icon' href='/AnGuiKaoShi/img/avatar.png')
		link(rel='stylesheet' href='/AnGuiKaoShi/css/layout.css')
		link(rel='stylesheet' href='/AnGuiKaoShi/css/style.css')

	body
		.header.pointer.box.space-between
			#logo.cell-2.cell-m3.cell-s6
				.box
					img.img.cell-2(src = '/article/img/avatar.png' alt = 'avatar')
					.cell-1
					.logo.cell-9 鶗鴂夜鸣
			.cell-10.cell-m9.cell-s6

		.box
			.cell-6.cell-m9.cell-s12.card
				.box
					select#type.select.center.cell-4(title = 'type')
						option(value = 1) 单选题
						option(value = 2) 多选题
						option(value = 3) 判断题
						option(value = 4 selected = true)
					input#index.input.cell-4(type='text')
					#jump.button.cell-4 跳转
					textarea#question.textarea.cell-12(rows='5')
					#selectA.button2.cell-12
					#selectB.button2.cell-12
					#selectC.button2.cell-12
					#selectD.button2.cell-12
					#load.button.cell-4.cell-m8.cell-s12 加载

		script(src='/AnGuiKaoShi/js/a.js')
		script(src='/AnGuiKaoShi/js/layout.js')
		script(src='/AnGuiKaoShi/js/main.js')