extends ../home/layout.pug

append body
	.box
		.cell-6.cell-m9.cell-s12.card
			.box
				select#type.select.center.cell-4(title = 'type')
					option(value = 1) 单选题
					option(value = 2) 多选题
					option(value = 3) 判断题
					option(value = 4 selected = true)
				input#index.input.cell-4(type='text')
				#jump.button.cell-4 跳转
				textarea#question.textarea.cell-12(rows='5')
				#selectA.button2.cell-12
				#selectB.button2.cell-12
				#selectC.button2.cell-12
				#selectD.button2.cell-12
				#load.button.cell-4.cell-m8.cell-s12 加载

append js
	script(src='/AnGuiKaoShi/js/main.js')