extends ../home/layout.pug

block title
	title #{title}

append css
	link(rel='stylesheet' href='/game/css/game2048.css')

append body
	.box
		.cell-4.cell-m6.cell-s12.card
			.box
				.big.bold.center.cell-12 #{title}
	// 面板
	.box
		.cell-4.cell-m6.cell-s12.card
			.box
				.cell-8.board
					| 分数：
					span#score 0
				button.cell-4.button(onclick='game.start()') 重新开始
	// 画布
	.box
		#gameFrame.cell-4.cell-m6.cell-s12
			canvas#canvas.canvas 天啦噜，您的浏览器版本不支持canvas标签！建议更换浏览器。

append js
	script(src='/game/js/game2048.js')