extends gameLayout.pug

block game
	// 面板
	.box
		.cell-4.cell-m6.cell-s12.card
			.box
				#restart.cell-12.button 重新开始
				.cell-6.board
					| 分数：
					span#score 0
				.cell-6.board
					| 等级：
					span#level 1
	// 画布
	.box
		#gameFrame.cell-4.cell-m6.cell-s12
			canvas#canvas.canvas 天啦噜，您的浏览器版本不支持canvas标签！建议更换浏览器。

append js
	script(src='/game/js/snake.js')
	script(src='/game/js/snakeEvent.js')