extends ../home/layout.pug

block title
	title #{title}

append body
	.box
		.cell-4.cell-m6.cell-s12.card
			.box
				.big.bold.center.cell-12 #{title}
	.box
		.cell-4.cell-m6.cell-s12
			.box
				button.button.cell-12(onclick='game.start()') 重新开始
	.box
		#gameFrame.cell-4.cell-m6.cell-s12
			canvas#canvas.canvas 天啦噜，您的浏览器版本不支持canvas标签！建议更换浏览器。
	.box
		.cell-4.cell-m6.cell-s12.card
			.box
				.markdown.word.cell-12
					p 普通的数独游戏，确保每个九宫格、每行、每列中没有相同数字。
				hr.hr.cell-12
				.cell-8
				.small.right.cell-4 2022-03-24 14:07

append js
	script(src='/game/js/sudoku.js')