doctype html

html(lang='zh-CN')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title 鶗鴂夜鸣
		link(rel='icon', href='home/img/avatar.png')
		link(rel='stylesheet', href='404/css/style.css')
	body
		.background_404