doctype html

html(lang='zh-CN')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		block title
			title 鶗鴂夜鸣
		link(rel='icon', href='/img/avatar.png')
		block css
			link(rel='stylesheet', href='404/css/style.css')
	body
		.background_404

