doctype html

html(lang='zh-CN')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width initial-scale=1')
		title 鶗鴂夜鸣
		link(rel='icon' href='/home/img/avatar.png')
		link(rel='stylesheet' href='/home/css/layout.css')
		link(rel='stylesheet' href='/home/css/style.css')

	body
		.header.pointer.box.space-between
			#logo.cell-2.cell-m3.cell-s6
				.box
					img.img.cell-2(src = '/home/img/avatar.png' alt = 'avatar')
					.cell-1
					.logo.cell-9 鶗鴂夜鸣
			.cell-10.cell-m9.cell-s6

		.box
			.pointer.cell-4.cell-m6.cell-s12.card
				.box
					.welcome.cell-12 欢迎光临
					hr.hr.cell-12
					.center.cell-12 人生若只如初见
		.box
			#article.pointer.cell-4.cell-m6.cell-s12.card
				.box
					.cell-12.height
					img.img.cell-4(src='/home/img/articlesIcon.png' alt = 'articlesIcon')
					.bigTitle.center.cell-4 日志
					.cell-12.height
		.box
			#game.pointer.cell-4.cell-m6.cell-s12.card
				.box
					.cell-12.height
					img.img.cell-4(src='/home/img/gamesIcon.png' alt = 'gamesIcon')
					.bigTitle.center.cell-4 游戏
					.cell-12.height
		.box
			.pointer.cell-4.cell-m6.cell-s12.card
				.box
					.italic.center.blueViolet.cell-12 永远年轻，永远热泪盈眶。永远年轻，永远保持好奇。

		.footer.pointer.box
			#beian2.B3A78F.small.cell-3.cell-s6
				.box
					img.img.cell-1(src = '/home/img/beian.png' alt = 'beian')
					.cell-11 浙公网安备 33059102000095号
			#beian1.B3A78F.small.cell-3.cell-s6 浙ICP备20018387号-1
			#copyright.B3A78F.small.cell-3.cell-s12 ©2022 tijueyeming.com
			.cell-3.cell-s6

		script(src='/home/js/a.js')
		script(src='/home/js/home.js')