/*Markdown*/
.markdown h1 {
	margin-block-start: 0;
	margin-block-end: 18px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}
.markdown h2 {
	margin-block-start: 0;
	margin-block-end: 16px;
	font-size: 20px;
	font-weight: bold;
}
.markdown p {
	margin-block-start: 0;
	margin-block-end: 12px;
	text-align:justify;
}
.markdown ol {
	margin-block-start: 0;
	margin-block-end: 12px;
	text-align:justify;
}
.markdown li {
	margin-bottom: 12px;
}
.markdown img {
	width: 100%
}
.markdown video {
	width: 100%
}
.markdown a {
	color: #cc00cc
}
.markdown a:hover {
	color: #330033
}
.markdown hr {
	background: #807766;
	border: 0;
	height: 1px;
}